{% extends 'index.html' %}
{% block content %}
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        About Web Tracker
                    </h1>

                </div>
            </div>
            <!-- /.row -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Uptime and performance monitoring made easy</div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-info panel-cust">
                        <p>Everything you need to monitor your website
                            With Web Tracker website monitoring you’ll be the first to know when your website is down,
                            and
                            you’ll stay on top of your website’s performance. Monitoring your websites and servers is a
                            smart
                            decision.</p>
                        <p>Web Tracker service provides us around the globe data regarding the Evernote service: is it
                            up and is
                            it performing,knowing we have that extra set of eyes watching the service.</p>
                        <p>Start your Site Test Today by Registering through enrollment in our Application.It’s super
                            easy!
                            Your website’s uptime and performance matters.</p><a id="margin-cust"
                                                                                 href="/create_edit_site"
                                                                                 class="btn btn-primary btn"
                                                                                 role="button">Enroll Your Site
                        Today &raquo;</a>
                    </div>
                </div>                 <!-- /.col-sm-4 -->
            </div>

        </div>
    </div>

{% endblock %}
